<!DOCTYPE html>
<html>
    <head>
        <title>Web App with Vue</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https:cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="App">
            <header class="navbar">
                <h1 class="sitename">{{sitename}}</h1>
                <div class="btn_checkout">
                    <button v-on:click='showCheckout' class="btn_check">
                     <sup> {{cartItemCount}} </sup>
                    <span class="fas fa-cart-plus"></span> &nbsp;Cart
                    </button>  
                </div>
            </header>
            <main>
                <div class="product">
                    <div class="col">
                        <figure class="image_box">
                            <img v-bind:src="product.image">
                        </figure>
                        <div class="info">
                            <h3>{{product.subject}}</h3>
                             <p>Location: {{product.location}}</p>
                          <p>Price: {{product.price}}</p>
                          <p>Space: 
                             <span v-if="product.spaces - cartItemCount >= 0">
                                 {{product.spaces - cartItemCount}}
                            </span>
                           
                            </p>
                            
                            <button class="btn_add" v-on:click="addToCart" v-if="canAddToCart">Add to Cart</button>
                             <button class="btn_add_disabled" disabled='disabled' v-else>Add to cart</button>

                        </div>
                        
                        
                    </div>
                </div>
            </main>
            
            
        </div>
        <script type="text/javascript" src="products.js"></script>
    </body>
</html>